<div data-ng-controller="MenuController">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <md-toolbar>
            <h1 class="md-toolbar-tools">MENU</h1>
        </md-toolbar>
        <md-content class="md-padding">
            <div ng-repeat="bt in menu" layout="column" layout-align="space-around start">
                <md-button class="md-primary" ng-show="isVisible(bt.role)" ng-click="openLink(bt.link)">{{bt.title}}</md-button>
                <a target="_self" data-ng-href="/auth/signout" ng-show="$last">
                    <md-button class="md-primary">Sair</md-button>
                </a>
            </div>
        </md-content>
    </md-sidenav>
</div>
