<md-dialog aria-label="Login">
    <form data-ng-submit="signup()" autocomplete="off" novalidate name="userForm" layout-margin layout-padding
          layout="column"
          layout-align="center center">
        <md-input-container>
            <label for="name">Nome completo</label>
            <input type="text" required id="name" name="name"
                   data-ng-model="credentials.name">
        </md-input-container>
        <md-select layout-align="start center" ng-model="credentials.instrument"
                   placeholder="Instrumento">
            <md-option ng-value="opt" ng-repeat="opt in instruments | orderBy:opt">{{ opt }}</md-option>
        </md-select>
        <md-input-container>
            <label for="email">Email</label>
            <input type="email" required id="email" name="email" data-ng-model="credentials.email">
        </md-input-container>
        <md-input-container>
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required
                   data-ng-model="credentials.password">
        </md-input-container>
        <div ng-show="error" layout-margin>{{error}}</div>
        <md-button class="md-accent md-raised">Cadastrar</md-button>
    </form>
</md-dialog>
