.gridListPhoto md-grid-list {
    margin: 8px; }
.gridListPhoto md-grid-tile {
    transition: all 400ms ease-out 50ms; }

.floating {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 30px;
}

.floating-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}
