<section data-ng-controller="SheetsController" layout="column" data-ng-init="getImages()">
    <md-tabs class="md-primary" flex md-selected="selectedIndex">
        <md-tab ng-repeat="instrumento in instruments" label="{{instrumento.name}}">
            <div class="tab-content tab{{$index%4}}" layout="column" layout-align="space-around center" layout-margin
                 layout-padding>
                <md-toolbar class="md-accent md-hue-3">
                    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                        <span class="md-flex">Músicas para {{instruments[selectedIndex].name}}</span>
                        <md-button ng-show="authentication.user.roles.indexOf('admin') != -1"
                                   class="md-primary md-raised" ng-click="newSheet()">Nova partitura
                        </md-button>
                    </div>
                </md-toolbar>
                <md-whiteframe class="md-whiteframe-z1" layout-fill layout-align="center center" layout-padding>
                    <md-input-container>
                        <label>Pesquisar música</label>
                        <input ng-model="query">
                    </md-input-container>
                    <md-list>
                        <md-item ng-repeat="item in sheets | filter:query">
                            <md-item-content layout="row">
                                <div class="md-tile-content">
                                    <h3>{{item.name}}</h3>
                                </div>
                                <div audios code="item.musicFileId"></div>
                                <a target="_self" data-ng-href="api/download?file={{item.sheetFileId}}">
                                    <md-button class="md-primary">Baixar partitura</md-button>
                                </a>
                            </md-item-content>
                        </md-item>
                    </md-list>
                </md-whiteframe>
            </div>
        </md-tab>
    </md-tabs>
</section>
