md-tabs.md-default-theme .md-paginator md-icon{
    color: rgb(255,193,55);
}

.md-tabs-content{
}

md-tabs{
    overflow-x: hidden;
}

.sheet-form{
    width: 400px;
}

.sheet-music{

}

.sheet-pdf{
    float: left;
}
